<div id="titulo"><!-- $titulo --></div>
<div class="clear"></div>
<div id="addthis_vertical1">
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
    </div>
</div>
<div id="addthis_vertical">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_preferred_5"></a>
    </div>
    <!-- AddThis Button END -->
</div>
<div id="conteudo">
    <h1 data-mercury="full"><!-- $descricao --></h1>
    <div id="texto" data-mercury="full">
        <!-- if ($tipo == "texto") desc_texto -->
        <!-- decode($conteudo) -->
        <br />
        <!-- end desc_texto -->
        <!-- if ($tipo == "imagem") desc_imagem -->
        <p>
            <a href="media/imagem/render.html?image=<!-- $conteudo -->&w=600" title="<!-- $titulo -->" rel="lightbox"><img src="media/imagem/render.html?image=<!-- $conteudo -->&w=495" alt="<!-- $titulo -->" /></a>
        </p>
        <p>Clique na foto para ampliar...</p>
        <br />
        <!-- end desc_imagem -->
        <!-- if ($tipo == "video") desc_video -->
        <div id="video" rel="media/video/<!-- $conteudo -->" poster="media/imagem/render.html?image=<!-- $chamada -->&w=480&h=270">
            <div id="jp_container_1" class="jp-video jp-video-270p">
                <div class="jp-type-single">
                    <div id="video_jplayer" class="jp-jplayer"></div>
                    <div class="jp-gui">
                        <div class="jp-video-play">
                            <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
                        </div>
                        <div class="jp-interface">
                            <div class="jp-progress">
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar"></div>
                                </div>
                            </div>
                            <div class="jp-current-time"></div>
                            <div class="jp-duration"></div>
                            <div class="jp-controls-holder">
                                <ul class="jp-controls">
                                    <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                                    <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                                    <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                                    <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                                    <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                                    <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                                </ul>
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                                <ul class="jp-toggles">
                                    <li><a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a></li>
                                    <li><a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen">restore screen</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!-- end desc_video -->
        <!-- if ($tipo == "audio") desc_audio -->
        <div id="audio" rel="media/audio/<!-- $conteudo -->">
            <div id="audio_jplayer" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio">
                <div class="jp-type-single">
                    <div class="jp-gui jp-interface">
                        <ul class="jp-controls">
                            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                            <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                        </ul>
                        <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                        <div class="jp-time-holder">
                            <div class="jp-current-time"></div>
                            <div class="jp-duration"></div>
                        </div>
                    </div>
                    <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!-- end desc_audio -->
    </div>
    <h2><!-- $menu --> | Atualizado em <!-- $atualizacao_br --> por <!-- $usuario --> e <!-- $pageview --> já viram...</h2>
    <div id="comentarios">
        <p class="title">Comentários</p>
        <!-- if ($comentarios == "") c1 -->
        <h1>Seja o primeiro a comentar!</h1>
        <!-- else c1 -->
        <ul id="listagem">
            <!-- each ($comentarios) c2 -->
            <li>
                <div class="gravatar"><img src="<!-- $c2.avatar -->" alt="" /></div>
                <div class="nome"><!-- $c2.nome --></div>
                <div class="data"><!-- $c2.atualizacao_br --></div>
                <div class="comentario"><!-- $c2.comentario --></div>
                <div class="clear"></div>
            </li>
            <!-- end c2 -->
        </ul>
        <!-- end c1 -->
        <form action="" method="post" id="formulario">
            <p><label for="author">Nome (requerido)</label></p>
            <p><input type="text" name="author" id="author" value="" size="22" tabindex="1" /></p>
            <p><label for="email" title="Se você tiver uma conta no Gravatar, automaticamente sua imagem de exibição irá aparecer aqui. Se você não tiver, acesse www.gravatar.com e cadastre-se!">E-mail (não será publicado) (requerido)</label></p>
            <p><input type="text" name="email" id="email" value="" size="22" tabindex="2" title="Se você tiver uma conta no Gravatar, automaticamente sua imagem de exibição irá aparecer aqui. Se você não tiver, acesse www.gravatar.com e cadastre-se!" /></p>
            <p><label for="comment">Comentário (requerido)</label></p>
            <p><textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea></p>
            <script type="text/javascript">
                var RecaptchaOptions = {
                    custom_translations : {
                        instructions_visual : "Escreva as duas palavras:",
                        instructions_audio : "Transcreva o que você ouviu:",
                        play_again : "Reproduzir a faixa de áudio",
                        cant_hear_this : "Baixar a faixa em formato MP3",
                        visual_challenge : "Modo texto",
                        audio_challenge : "Modo audio",
                        refresh_btn : "Obter duas novas palavras",
                        help_btn : "Ajuda",
                        incorrect_try_again : "Incorreta. Por favor, tente novamente."
                    },
                    lang : 'pt', // Unavailable while writing this code (just for audio challenge)
                    theme : 'clean' // Make sure there is no trailing ',' at the end of the RecaptchaOptions dictionary
                };
            </script>
            <!-- decode($recaptcha) -->
            <br />
            <p><input name="submit" type="submit" id="submit" tabindex="5" value="Publicar" /></p>
        </form>
    </div>
    <script type="text/javascript">
        <!-- if ($msg_erro != "") me1 -->
        alert("<!-- decode($msg_erro) -->");
        <!-- end me1 -->
    </script>
</div>