<div id="conteudo">
    <!-- if ($total == 0) l1 -->
    <p>Não temos nenhuma informação a lhe oferecer...</p>
    <h1>:-(</h1>
    <!-- else l1 -->
    <div id="sliderContainer">
        <div id="mySlides">
            <!-- each ($lista_destaque) l2 -->
            <div id="slide<!-- $l2() -->" class="slide">
                <img src="media/imagem/render.html?image=<!-- $l2.chamada -->&w=570&h=280" alt="" />
                <div class="slideContent">
                    <h3><a href="?menu=<!-- $l2.alias -->&id=<!-- $l2.id -->"><!-- $l2.titulo --></a></h3>
                </div>
            </div>
            <!-- end l2 -->
        </div>
        <div id="myController"> 
            <!-- each ($lista_destaque) l3 -->
            <span class="jFlowControl"></span> 
            <!-- end l3 -->
        </div>
        <div class="jFlowPrev"></div>
        <div class="jFlowNext"></div>
    </div>
    <ul id="listagem">
        <!-- import(layout/interno/listagem.html) -->
    </ul>
    <!-- end l1 -->
</div>