<div id="titulo"><!-- $menu_titulo --></div>
<div id="conteudo">
    <!-- if ($total == 0) l1 -->
    <p>Não temos nenhuma informação a lhe oferecer...</p>
    <h1>:-(</h1>
    <!-- else l1 -->
    <ul id="listagem">
        <!-- import(layout/interno/listagem.html) -->
    </ul>
    <div class="carregando"><img src="../../asset/img/lightbox/loading.gif" /></div>
    <input type="hidden" name="pagina_proxima" id="pagina_proxima" value="<!-- $pagina_proxima -->" />
    <input type="hidden" name="pagina_total" id="pagina_total" value="<!-- $pagina_total -->" />
    <!-- end l1 -->
</div>