<div id="titulo">Participe!</div>
<div id="conteudo">
    <form action="" method="post" id="formulario">
        <p><label for="author">Nome (requerido)</label></p>
        <p><input type="text" name="author" id="author" value="" size="22" tabindex="1" /></p>
        <p><label for="email">E-mail (requerido)</label></p>
        <p><input type="text" name="email" id="email" value="" size="22" tabindex="2" title="Se você tiver uma conta no Gravatar, automaticamente sua imagem de exibição irá aparecer aqui. Se você não tiver, acesse www.gravatar.com e cadastre-se!" /></p>
        <p><label for="comment">Comentário (requerido)</label></p>
        <p><textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea></p>
        <script type="text/javascript">
            var RecaptchaOptions = {
                custom_translations : {
                    instructions_visual : "Escreva as duas palavras:",
                    instructions_audio : "Transcreva o que você ouviu:",
                    play_again : "Reproduzir a faixa de áudio",
                    cant_hear_this : "Baixar a faixa em formato MP3",
                    visual_challenge : "Modo texto",
                    audio_challenge : "Modo audio",
                    refresh_btn : "Obter duas novas palavras",
                    help_btn : "Ajuda",
                    incorrect_try_again : "Incorreta. Por favor, tente novamente."
                },
                lang : 'pt', // Unavailable while writing this code (just for audio challenge)
                theme : 'clean' // Make sure there is no trailing ',' at the end of the RecaptchaOptions dictionary
            };
        </script>
        <!-- decode($recaptcha) -->
        <br />
        <p><input name="submit" type="submit" id="submit" tabindex="5" value="Participar!" /></p>
    </form>
    <script type="text/javascript">
        <!-- if ($msg_erro != "") me1 -->
        alert("<!-- decode($msg_erro) -->");
        <!-- end me1 -->
    </script>
</div>