<div class="slider-wrapper">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>Áreas de Atuação</h2>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div id="wrapper">
    <div class="container">

        <div class="row">
            <div class="icons-box-vert-container">

                <div class="span4">
                    <div class="icons-box-vert">
                        <i class="ico-ok ico-white circle-color-full"></i>
                        <div class="icons-box-vert-info">
                            <h3>DEFESA DO CONSUMIDOR</h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="span4">
                    <div class="icons-box-vert">
                        <i class="ico-ok  ico-white circle-color-full"></i>
                        <div class="icons-box-vert-info">
                            <h3>DIREITO CIVIL E DE RESPONSABILIDADE CIVIL</h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="span4">
                    <div class="icons-box-vert">
                        <i class="ico-ok ico-white circle-color-full"></i>
                        <div class="icons-box-vert-info">
                            <h3>CONTRATOS (REVISIONAL).</h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="icons-box-vert-container">

                <div class="span4">
                    <div class="icons-box-vert">
                        <i class="ico-ok ico-white circle-color-full"></i>
                        <div class="icons-box-vert-info">
                            <h3>DIREITO DE FAMILIA</h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="span4">
                    <div class="icons-box-vert">
                        <i class="ico-ok ico-white circle-color-full"></i>
                        <div class="icons-box-vert-info">
                            <h3>DIREITO CRIMINAL</h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="span4">
                    <div class="icons-box-vert">
                        <i class="ico-ok ico-white circle-color-full"></i>
                        <div class="icons-box-vert-info">
                            <h3>DIREITO PREVIDENCIARIO (COM ADVOGADO ESPECIFICO)</h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="icons-box-vert-container">

                <div class="span4">
                    <div class="icons-box-vert">
                        <i class="ico-ok ico-white circle-color-full"></i>
                        <div class="icons-box-vert-info">
                            <h3>DIREITO TRABALHISTA</h3>
                            <p>
                                PARCERIA COM O ESCRITÓRIO HUMBERTO PEIXOTO VELLOZO<br />
                                Rua Alcindo Guanabara, 17/21, Sala 1602, Cinelândia - Rio de Janeiro
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="span4">
                    <div class="icons-box-vert">
                        <i class="ico-ok ico-white circle-color-full"></i>
                        <div class="icons-box-vert-info">
                            <h3>CORRESPONDENTE JURÍDICO EXCLUSIVAMENTE NA COMARCA DE NOVA IGUAÇU</h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>