<!-- start: Map -->
<div>

    <!-- starts: Google Maps -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <div id="googlemaps-container-top"></div>
    <div id="googlemaps" class="google-map google-map-full"></div>
    <div id="googlemaps-container-bottom"></div>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/jquery.gmap.min.js"></script>
    <script type="text/javascript">
        $('#googlemaps').gMap({
            maptype: 'ROADMAP',
            scrollwheel: false,
            zoom: 13,
            markers: [
                {
                    address: 'R. Boa Vista, 52, Prata, Nova Iguaçu - RJ 26010-147', // Your Adress Here
                    html: '',
                    popup: false
                }
            ]
        });
    </script>
    <!-- end: Google Maps -->
</div>
<!-- end: Map -->

<div id="wrapper">		

    <!-- start: Container -->	
    <div class="container">

        <!-- start: Row -->
        <div class="row">

            <!-- start: Contact Info -->
            <div class="span3">
                <div class="title"><h3>Escritório</h3></div>
                <p>
                    <b><!-- !name --></b>
                </p>
                <p>
                    R. Boa Vista, 52
                </p>
                <p>	
                    Prata, Nova Iguaçu - RJ
                </p>	
                <p>	
                    Telefone: (21) 3091-3898
                </p>
                <p>
                    Email: contato@walterreisjr.com.br
                </p>
                <p>
                    Web: <a href="/">www.walterreisjr.com.br</a>
                </p>
            </div>
            <!-- end: Contact Info -->		

            <!-- start: Contact Form -->
            <div class="span5">
                <div class="title"><h3>Fale Conosco</h3></div>

                <!-- start: Contact Form -->
                <div id="contact-form">

                    <form method="post" action="">

                        <fieldset>
                            <div class="clearfix">
                                <label for="name"><span>Nome:</span></label>
                                <div class="input">
                                    <input tabindex="1" size="18" id="name" name="name" type="text" value="">
                                </div>
                            </div>

                            <div class="clearfix">
                                <label for="email"><span>E-mail:</span></label>
                                <div class="input">
                                    <input tabindex="2" size="25" id="email" name="email" type="text" value="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="clearfix">
                                <label for="message"><span>Mensagem:</span></label>
                                <div class="input">
                                    <textarea tabindex="3" class="input-xlarge" id="message" name="body" rows="7"></textarea>
                                </div>
                            </div>

                            <div class="actions">
                                <button tabindex="3" type="submit" class="btn btn-succes btn-large">Enviar Mensagem</button>
                            </div>
                        </fieldset>

                    </form>

                </div>
                <!-- end: Contact Form -->

            </div>
            <!-- end: Contact Form -->

            <!-- start: Social Sites -->
            <div class="span4">
                <div class="title"><h3>Social!</h3></div>
                <ul class="social-bookmarks">
                    <li class="facebook"><a href="http://www.facebook.com/">facebook</a></li>
                    <li class="twitter"><a href="http://www.twitter.com/">twitter</a></li>
                </ul>
            </div>
            <!-- end: Social Sites -->

        </div>
        <!-- end: Row -->

    </div>
    <!-- end: Container -->

</div>