<div class="slider-wrapper">

    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>Valter Reis Jr. Advogados</h2>
            <a href="perfil" class="da-link">Perfil</a>
        </div>
<!--        <div class="da-slide">
            <h2>Projetos Sociais</h2>
            <a href="projetos" class="da-link">Saiba mais...</a>
        </div>-->
        <div class="da-slide">
            <h2>Áreas de Atuação</h2>
            <a href="atuacao" class="da-link">Saiba mais...</a>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>

</div>

<div id="wrapper">
    <div class="container">

        <hr>

        <div class="hero-unit">
            <h3>
                Exercemos atividade profissional com foco na defesa do consumidor.<br />
                Contempla, ainda, área de cível e contratos (revisional), família, criminal.
            </h3>
        </div>

        <hr>

        <div class="row">

            <div class="span9">
                <div class="row">
                    <div class="title"><h3>Trabalhos Sociais em Nova Iguaçu</h3></div>
                    <div class="row">

                        <div class="span3">
                            <div class="picture">
                                <a href="contato" title="Localização / Escritório">
                                    <img src="img/pjs_1.jpg" >
                                    <div class="image-overlay-link"></div>
                                </a>
                            </div>
                            <div class="item-description">
                                <h4><a href="contato">Localização / Escritório</a></h4>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="picture">
                                <a href="atuacao" title="Atuação">
                                    <img src="img/pjs_2.jpg">
                                    <div class="image-overlay-link"></div>
                                </a>
                            </div>
                            <div class="item-description">
                                <h4><a href="atuacao">Atuação</a></h4>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="picture">
                                <a href="perfil" title="Perfil">
                                    <img src="img/pjs_3.jpg">
                                    <div class="image-overlay-link"></div>
                                </a>
                            </div>
                            <div class="item-description">
                                <h4><a href="perfil">Perfil</a></h4>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="row subtitle">
                        <h2 style="text-align: center;">
                            ESCRITORIO - NOVA IGUAÇU<br />
                            Rua Boa Vista, 52, Bairro Prata - Nova Iguaçu/RJ<br />
                            CEP: 26010-147<br />
                            Telefone: (21) 7947-1944
                        </h2>
                    </div>
                </div>
            </div>

            <div class="span3">
                <div class="row">
                    <div class="testimonial-container">
                        <div class="title"><h3>Nossa Missão</h3></div>
                        <div class="testimonials-carousel" data-autorotate="3000">
                            <ul class="carousel">
                                <li class="testimonial">
                                    <div class="testimonials">Nossa missão é advogar com qualidade de excelência, tornando possível aos nossos clientes a defesa e a garantia dos seus direitos. Nossa meta é através de uma justiça justa, transformar o Estado do Rio de Janeiro e quiçá nosso País, tornando-o mais democrático. Prover com eficiência as assessorias jurídicas e oferecer soluções para questões dos nossos clientes e do dia-a-dia. Exercer sempre uma advocacia compromissada com a ética e responsabilidade!</div>
                                    <div class="testimonials-bg"></div>
                                    <div class="testimonials-author">Walter Reis Jr., <span>Advogado</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr>

    </div>
</div>