<div class="slider-wrapper">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>Perfil</h2>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h3 style="text-align: justify;">
                    VALTER REIS JUNIOR É ADVOGADO ATUANTE DESDE 2009 COM FOCO PRINCIPAL NA DEFESA DO CONSUMIDOR E EM PROCESSOS DE RESPONSABILIDADE CIVIL.
                </h3>
                <p>&nbsp;</p>
                <h3 style="text-align: justify;">
                    FORMADO E GRADUADO PELA FACULDADE MORAES JUNIOR – MACKENZIE RIO. PÓS GRADUAÇÃO EM DIREITO PÚBLICO E TRIBUTARIO PELA UNIVERSIDADE CANDIDO MENDES – INSTITUTO A VEZ DO MESTRE.
                </h3>
                <p>&nbsp;</p>
                <h3 style="text-align: justify;">
                    JÁ FOI HOMENAGEADO COM MOÇÃO DE APLAUSOS PELA CAMARA DE VEREADORES DO RIO DE JANEIRO POR SERVIÇOS REALIZADOS COMO JUIZ ARBITRAL NA CAPITAL DO RIO DE JANEIRO, SEMPRE DEFENDENDO OS INTERESSES DA POPULAÇÃO EM PROL DE UMA JUSTIÇA SOCIAL.
                </h3>
                <p>&nbsp;</p>
                <h3 style="text-align: justify;">
                    SEU ESCRITÓRIO NASCE COM A VISÃO DE SE TORNAR REFERENCIA NO CAMPO JURÍDICO, EM PROL DE ALCANÇAR UMA JUSTIÇA SOCIAL NA SOCIEDADE.
                </h3>
            </div>	
        </div>
    </div>
</div>

<br />
<br />