<div class="widget widget-table action-table">
    <div class="widget-content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 100px;">Ordem</th>
                    <th>Nome</th>
                    <th class="td-actions-2"></th>
                </tr>
            </thead>
            <tbody>
                <!-- each ($menus) e2 -->
                <tr>
                    <td><!-- $e2.ordenacao --></td>
                    <td><!-- $e2.nome --></td>
                    <td class="td-actions-2">
                        <a href="javascript:;" rel="<!-- $e2.id -->" class="btn btn-small btn-warning btn-action-update" title="Editar"><i class="btn-icon-only icon-edit"></i></a>
                        <a href="javascript:;" rel="<!-- $e2.id -->" class="btn btn-small btn-action-delete" title="Remover"><i class="btn-icon-only icon-remove"></i></a>
                    </td>
                </tr>
                <!-- end e2 -->
            </tbody>
        </table>
    </div>
</div>