<div class="row">
    <div class="span12">
        <div class="error-container">
            <h1>Oops!</h1>
            <div class="error-details">
                Desculpe, mas esta página não está disponível no momento!
            </div>
            <br />
            <div class="error-actions">
                <a href="index.html" class="btn btn-large btn-primary">
                    <i class="icon-chevron-left"></i> Voltar
                </a>
            </div>
        </div>
    </div>
</div>