<div class="error-container">
    <h1>Bem vindo!</h1>
    <div class="error-details">
        Seja bem-vindo ao painel de administração da sua conta.
    </div>
    <br />
    <div class="error-actions">
        <a href="?m=minha_conta" class="btn btn-large">
            <i class="icon-user"></i> Minha Conta
        </a>
    </div>
</div>