<div class="row">
    <div class="span8">
        <ul class="breadcrumb">
            <li class="active"><h3><!-- $layout_titulo --></h3></li>
        </ul>
        <!-- if ($formulario == "") f1 -->
        <!-- if ($menus != "") e1 -->
        <!-- import (layout/main/menus/listar.html) -->
        <!-- else e1 -->
        <div class="hero-unit">
            <p>
                <a href="javascript:;" class="btn btn-large btn-primary btn-action-new">Cadastrar!</a>
            </p>
        </div>
        <!-- end e1 -->
        <!-- else f1 -->
        <!-- if ($remover != "") f2 -->
        <!-- import (layout/main/menus/remover.html) -->
        <!-- else f2 -->
        <!-- import (layout/main/menus/editar.html) -->
        <!-- end f2 -->
        <!-- end f1 -->
    </div>
    <div class="span4">
        <!-- if ($menus != "") e2 -->
        <!-- if ($formulario != 1) f2 -->
        <a href="javascript:;" class="btn btn-large btn-warning btn-action-new">Cadastrar!</a>	
        <!-- end f2 -->
        <!-- end e2 -->
        <div class="widget widget-box">
            <div class="widget-content">
                <p><!-- $layout_descricao --></p>
            </div>
        </div>
    </div>
</div>