<div class="row">
    <div class="span8">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-edit"></i>
                <h3><!-- decode($layout_titulo) --></h3>
            </div>
            <div class="widget-content">
                <form autocomplete="off" method="post" class="form-horizontal">
                    <fieldset>

                        <div class="control-group">
                            <label class="control-label" for="nome">Nome</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="nome" name="nome" value="<!-- $nome -->">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <input type="text" id="email" name="email" value="<!-- $email -->">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="senha">Senha</label>
                            <div class="controls">
                                <input type="password" class="input-medium" id="senha" name="senha" value="">
                                <input type="password" class="input-medium" id="senha_confirm" name="senha_confirm" value="">
                                <span id="senha_help" class="help-inline hide"></span>
                            </div>
                        </div>

                    </fieldset>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
                        <button class="btn btn-large btn-action-home">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="span4">
        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail">
                    <img src="<!-- $gravatar -->" alt="Seu Gravatar!" title="Seu Gravatar!" />
                </div>
                <div style="text-align: right; padding-top: 5px;">
                    <h5>Powered by <a href="http://www.gravatar.com/" target="_blank">Gravatar</a>.</h5>
                </div>
            </li>
        </ul>
        <div class="widget widget-box">
            <div class="widget-content">
                <p><!-- $layout_descricao --></p>
            </div>
        </div>
    </div>
</div>