<div class="row">
    <div class="span12">
        <form autocomplete="off" method="post" class="form-horizontal">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <div class="error-container">
                <h1><!-- $layout_titulo --></h1>
                <div class="error-details">
                    Clique no botão abaixo para administrar o colaborador <!-- $nome -->...
                </div>
                <br />
                <div class="error-actions">
                    <a href="index.html" class="btn btn-large">
                        <i class="icon-chevron-left"></i> Voltar
                    </a>
                    <button type="submit" class="btn btn-primary btn-large">
                        <i class="icon-chevron-right"></i> Acessar Administração
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>