<div class="widget">
    <div class="widget-header">
        <i class="icon-edit"></i>
        <h3>Editar</h3>
    </div>
    <div class="widget-content">
        <form autocomplete="off" method="post" class="form-horizontal">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="nome">Nome</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="nome" name="nome" value="<!-- $nome -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" value="<!-- $email -->">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="senha">Senha</label>
                    <div class="controls">
                        <input type="password" class="input-medium" id="senha" name="senha" value="">
                        <input type="password" class="input-medium" id="senha_confirm" name="senha_confirm" value="">
                        <span id="senha_help" class="help-inline hide"></span>
                    </div>
                </div>

            </fieldset>

            <br />
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-large btn-action-save">Salvar</button>
                <button class="btn btn-large btn-action-cancel">Cancelar</button>
            </div>
        </form>
    </div>
</div>