<div id="menu_lateral">
    <div>
        <a href="?menu=projetos">Projetos</a>
    </div>
    <ul>
        <li><a href="?menu=indicacoes" rel="indicacoes">Indicações</a></li>
        <li><a href="?menu=solicitacoes" rel="solicitacoes">Solicitações para Obra</a></li>
    </ul>
</div>