<div id="menu_lateral">
    <div>
        <a href="?menu=comunicacao">Comunicação</a>
    </div>
    <ul>
        <li><a href="?menu=noticias" rel="noticias">Notícias</a></li>
        <li><a href="?menu=artigos" rel="artigos">Artigos</a></li>
        <li><a href="?menu=clipping" rel="clipping">Na Mídia</a></li>
        <li><a href="?menu=audios" rel="audios">Áudios</a></li>
        <li><a href="?menu=videos" rel="videos">Vídeos</a></li>
        <li><a href="?menu=fotos" rel="fotos">Fotos</a></li>
    </ul>
</div>