<div id="menu_lateral">
    <div><a href="?menu=index" rel="index">Início</a></div>
    <div><a href="?menu=perfil" rel="perfil">Perfil</a></div>
    <div><a href="?menu=projetos" rel="projetos">Projetos</a></div>
    <ul>
        <li><a href="?menu=indicacoes" rel="indicacoes">Indicações</a></li>
        <li><a href="?menu=solicitacoes" rel="solicitacoes">Solicitações para Obra</a></li>
    </ul>
    <div><a href="?menu=eventos" rel="eventos">Eventos e Trabalhos Sociais</a></div>
    <div><a href="?menu=comunicacao" rel="comunicacao">Comunicação</a></div>
    <ul>
        <li><a href="?menu=noticias" rel="noticias">Notícias</a></li>
        <li><a href="?menu=artigos" rel="artigos">Artigos</a></li>
        <li><a href="?menu=clipping" rel="clipping">Na Mídia</a></li>
        <li><a href="?menu=audios" rel="audios">Áudios</a></li>
        <li><a href="?menu=videos" rel="videos">Vídeos</a></li>
        <li><a href="?menu=fotos" rel="fotos">Fotos</a></li>
    </ul>
    <div><a href="?menu=participe" rel="participe">Participe</a></div>
</div>