<ul>
    <li><a href="?" rel="index">Início</a></li>
    <li><a href="?menu=perfil" rel="perfil">Perfil</a></li>
    <li><a href="?menu=projetos" rel="projetos">Projetos</a></li>
    <li><a href="?menu=eventos" rel="eventos">Eventos e Trabalhos Sociais</a></li>
    <li><a href="?menu=comunicacao" rel="comunicacao">Comunicação</a></li>
    <li><a href="?menu=participe" rel="participe">Participe</a></li>
</ul>