<div id="conteudo">
    <!-- if ($listagem == "") check_listagem -->
    <p>Não temos nenhuma informação a lhe oferecer...</p>
    <h1>:-(</h1>
    <!-- else check_listagem -->
    <ul id="listagem">
        <!-- each ($listagem) row -->
        <li>
            <div class="titulo"><a href="?menu=<!-- $row.menu_codigo -->&id=<!-- $row.id -->"><!-- $row.nome --></a></div>
            <!-- if ($row(tipo) == "audio") opt_audio_top_$row(id)$row(menu_codigo) -->
            <div class="link">
                
            </div>
            <!-- end opt_audio_top_$row(id)$row(menu_codigo) -->
            <!-- if ($row(tipo) == "video") opt_video_top_$row(id)$row(menu_codigo) -->
            <div class="link">
                
            </div>
            <!-- end opt_video_top_$row(id)$row(menu_codigo) -->
            <!-- if ($row(tipo) == "imagem") opt_imagem_top_$row(id)$row(menu_codigo) -->
            <div class="link">
                <a href="?menu=<!-- $row.menu_codigo -->&id=<!-- $row.id -->">
                    <img src="media/jpg/render.html?image=<!-- $row.resumo -->&w=560&h=270" alt="" />
                </a>
            </div>
            <!-- end opt_imagem_top_$row(id)$row(menu_codigo) -->
            <div class="data_autor"><!-- $row.atualizacao_br --> por <!-- $row.usuario_nome --></div>
            <!-- if ($row(tipo) == "conteudo") opt_conteudo_$row(id)$row(menu_codigo) -->
            <div class="resumo"><!-- $row.resumo --></div>
            <div class="rodape">
                <ul>
                    <li><a href="?menu=<!-- $row.menu_codigo -->&id=<!-- $row.id -->">Continue lendo...</a></li>
                    <!-- if ($row(comentarios) more 0) comm$row(id)$row(menu_codigo) -->
                    <li><!-- $row.comentarios --> comentário(s)</li>
                    <!-- end comm$row(id)$row(menu_codigo) -->
                </ul>
            </div>
            <!-- end opt_conteudo_$row(id)$row(menu_codigo) -->
            <!-- if ($row(tipo) == "audio") opt_audio_resumo_$row(id)$row(menu_codigo) -->
            <div class="resumo"><a href="?menu=<!-- $row.menu_codigo -->&id=<!-- $row.id -->">Ouvir áudio...</a></div>
            <!-- end opt_audio_resumo_$row(id)$row(menu_codigo) -->
            <!-- if ($row(tipo) == "video") opt_video_resumo_$row(id)$row(menu_codigo) -->
            <div class="resumo"><a href="?menu=<!-- $row.menu_codigo -->&id=<!-- $row.id -->">Assistir vídeo...</a></div>
            <!-- end opt_video_resumo_$row(id)$row(menu_codigo) -->
            <div class="clear"></div>
        </li>
        <!-- end row -->
    </ul>
    <!-- end check_listagem -->
</div>