<div class="row">
    <div class="span3">
        <h4>Sobre</h4>
        <ul>
            <li><a href="http://www.twitter.com/walterreisjr">Twitter</a></li>
            <li><a href="http://www.facebook.com/walterreisjr">Facebook</a></li>
            <li><a href="http://plus.google.com/walterreisjr">Google+</a></li>
        </ul>
    </div>
    <div class="span3">
        <h4>Conta</h4>
        <ul>
            <li><a href="?m=minha_conta">Minha Conta</a></li>
            <li><a href="?sair">Sair</a></li>
        </ul>
    </div>
</div>