<!-- if ($layout_subnavbar != "") is_subnavbar -->
    <ul class="mainnav">
        <!-- each ($layout_subnavbar) r_subnavbar -->
            <!-- if ($r_subnavbar(sub) == "") is_subnavbar_sub_$r_subnavbar(id) -->
                <li rel="<!-- $r_subnavbar.layout -->">
                    <a href="<!-- $r_subnavbar.href -->">
                        <i class="<!-- $r_subnavbar.subnavbar_icon -->"></i>
                        <span><!-- decode($r_subnavbar.nome) --></span>
                    </a>
                </li>
            <!-- else is_subnavbar_sub_$r_subnavbar(id) -->
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="<!-- $r_subnavbar.subnavbar_icon -->"></i>
                        <span><!-- decode($r_subnavbar.nome) --></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- each ($r_subnavbar(sub)) r_subnavbar_sub -->
                            <!-- if ($r_subnavbar_sub(subnavbar_icon) == "divider") is_divider_$r_subnavbar(id)$r_subnavbar_sub(id) -->
                                <li class="divider"></li>
                            <!-- else is_divider_$r_subnavbar(id)$r_subnavbar_sub(id) -->
                                <li rel="<!-- $r_subnavbar_sub.layout -->"><a href="<!-- $r_subnavbar_sub.href -->"><!-- $r_subnavbar_sub.nome --></a></li>
                            <!-- end is_divider_$r_subnavbar(id)$r_subnavbar_sub(id) -->
                        <!-- end r_subnavbar_sub -->
                    </ul>
                </li>
            <!-- end is_subnavbar_sub_$r_subnavbar(id) -->
        <!-- end r_subnavbar -->
    </ul>
<!-- end is_subnavbar -->
<!-- <li class="dropdown active"> -->