<div id="titulo"><!-- $titulo --></div>
<div id="conteudo">
    <!-- if ($listagem == "") row_conteudo_check -->
    <p>Não temos nenhuma informação a lhe oferecer...</p>
    <h1>:-(</h1>
    <!-- else row_conteudo_check -->
    <ul id="listagem">
        <!-- each ($listagem) row_conteudo -->
        <li>
            <div class="titulo"><a href="?menu=<!-- $row_conteudo.menu_codigo -->&id=<!-- $row_conteudo.id -->"><!-- $row_conteudo.nome --></a></div>
            <div class="data_autor"><!-- $row_conteudo.atualizacao_br --> por <!-- $row_conteudo.usuario_nome --></div>
            <div class="resumo"><!-- $row_conteudo.resumo --></div>
            <div class="rodape">
                <ul>
                    <li><a href="?menu=<!-- $row_conteudo.menu_codigo -->&id=<!-- $row_conteudo.id -->">Continue lendo...</a></li>
                    <!-- if ($row_conteudo(comentarios) more 0) comm -->
                    <li><!-- $row_conteudo.comentarios --> comentário(s)</li>
                    <!-- end comm -->
                </ul>
            </div>
        </li>
        <!-- end row_conteudo -->
    </ul>
    <!-- end row_conteudo_check -->
</div>