<div id="titulo"><!-- $titulo --></div>
<div id="conteudo">
    <!-- if ($listagem == "") row_buscador_check -->
    <p>Não temos nenhuma informação a lhe oferecer...</p>
    <h1>:-(</h1>
    <!-- else row_buscador_check -->
    <ul id="listagem">
        <!-- each ($listagem) row_buscador -->
        <li>
            <div class="titulo"><a href="?menu=<!-- $row_buscador.menu_codigo -->&id=<!-- $row_buscador.id -->"><!-- $row_buscador.nome --></a></div>
            <div class="data_autor"><!-- $row_buscador.atualizacao_br --> por <!-- $row_buscador.usuario_nome --></div>
            <div class="resumo"><!-- $row_buscador.resumo --></div>
            <div class="rodape">
                <ul>
                    <li><a href="?menu=<!-- $row_buscador.menu_codigo -->&id=<!-- $row_buscador.id -->">Continue lendo...</a></li>
                    <!-- if ($row_buscador(comentarios) more 0) comm$row_buscador(id) -->
                    <li><!-- $row_buscador.comentarios --> comentário(s)</li>
                    <!-- end comm$row_buscador(id) -->
                </ul>
            </div>
        </li>
        <!-- end row_buscador -->
    </ul>
    <!-- end row_buscador_check -->
</div>