<div id="titulo"><!-- $titulo --></div>
<!-- if ($listagem == "") check_listagem -->
<!-- else check_listagem -->
<div class="slider">
    <ul>
        <!-- each ($listagem) row -->
        <li>item 1</li>
        <!-- end row -->
    </ul>
</div>
<!-- end check_listagem -->
<script type="text/javascript">
    $(function(){
        $("div.slider").carousel({ autoSlide: true });
    });
</script>
<!-- import(includes/listagem.html) -->