<div class="widget widget-table action-table">
    <div class="widget-content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="td-actions-3"></th>
                </tr>
            </thead>
            <tbody>
                <!-- each ($usuarios) e2 -->
                <tr>
                    <td><!-- $e2.nome --></td>
                    <td class="td-actions-3">
                        <a href="javascript:;" rel="<!-- $e2.id -->" class="btn btn-small btn-warning btn-action-administrar" title="Administrar este Usuário"><i class="btn-icon-only icon-arrow-right"></i></a>
                        <a href="javascript:;" rel="<!-- $e2.id -->" class="btn btn-small btn-warning btn-action-update" title="Editar"><i class="btn-icon-only icon-edit"></i></a>
                        <a href="javascript:;" rel="<!-- $e2.id -->" class="btn btn-small btn-action-delete" title="Remover"><i class="btn-icon-only icon-remove"></i></a>
                    </td>
                </tr>
                <!-- end e2 -->
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(".btn-action-administrar").click(function() {
        var id = $(this).attr("rel");
        if (id.length > 0) {
            window.location = $.url() + "&administrar&id=" + id;
        }
        return false;
    });
</script>