<div class="widget">
    <div class="widget-header">
        <i class="icon-remove"></i>
        <h3>Remover</h3>
    </div>
    <div class="widget-content">
        <form autocomplete="off" method="post" class="form-horizontal">
            <input type="hidden" id="id" name="id" value="<!-- $id -->">
            <fieldset>

                <div class="control-group">
                    <label class="control-label" for="nome">Nome</label>
                    <div class="controls">
                        <input type="text" id="nome" name="nome" value="<!-- $nome -->" readonly="">
                    </div>
                </div>
                
                <br />
                <div class="alert alert-danger">
                    <h4>Atenção!</h4>
                    Os serviços pertencem a este administrador serão removidos permanentemente!
                </div>

            </fieldset>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-danger btn-large btn-action-save">Remover</button>
                <button class="btn btn-large btn-action-cancel">Cancelar</button>
            </div>
        </form>
    </div>
</div>