<div id="menu_lateral">
    <div><a href="?menu=index" rel="index">Início</a></div>
    <!-- each ($interno_lateral_menu) menu -->
    <div><a href="?menu=<!-- $menu.alias -->" rel="<!-- $menu.alias -->"><!-- $menu.nome --></a></div>
    <!-- end menu -->
</div>
<div id="banner_prata">
    <img src="asset/img/banner_prata.gif" alt="Prata, eu amo, eu cuido!" />
</div>