<!-- each ($lista) l2 -->
<li>
    <!-- if ($l2(chamada) != "") link_chamada_$l2(id) -->
    <div class="link">
        <a href="?menu=<!-- $l2.alias -->&id=<!-- $l2.id -->">
            <img src="media/imagem/render.html?image=<!-- $l2.chamada -->&w=150&h=90" alt="" />
        </a>
    </div>
    <!-- end link_chamada_$l2(id) -->
    <div class="titulo" rel="<!-- $l2.id -->">
        <a href="?menu=<!-- $l2.alias -->&id=<!-- $l2.id -->"><!-- $l2.titulo --></a>
    </div>
    <div class="descricao">
        <!-- $l2.descricao -->
    </div>
    <div class="rodape">
        <!-- $l2.menu --> | <!-- $l2.atualizacao_br --> | <!-- $l2.usuario -->
        <!-- if ($l2(comentarios) more 0) comentario_$l2(id) -->
        | <!-- $l2.comentarios --> comentário(s)
        <!-- end comentario_$l2(id) -->
        | <b><!-- $l2.pageview --></b> já viram
    </div>
    <div class="clear"></div>
</li>
<!-- end l2 -->