<ul>
    <li><a href="?" rel="index">Início</a></li>
    <!-- each ($interno_menu) menu -->
    <li><a href="?menu=<!-- $menu.alias -->" rel="<!-- $menu.alias -->"><!-- $menu.nome --></a></li>
    <!-- end menu -->
    <li><a href="?menu=participe" rel="participe">Participe</a></li>
</ul>