@import "reset.css";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: url("../img/fundo_body.png") repeat;
}

a {
    outline: none;
    text-decoration: none;
    color: #90BB22;
}

a:hover {
    color: #000000;
}

div#wrapper {
    width: 900px;
    min-height: 100%;
    height: auto !important;
    height: 100%;

    background-color: #fff;

    border: 1px solid #90BB22;

    margin: 20px auto;

    box-shadow: 0px 0px 12px #999999;
    -moz-box-shadow: 0px 0px 12px #999999;
    -webkit-box-shadow: 0px 0px 12px #999999;
}

div#wrapper div#cabecalho {
    background: url("../img/fundo_topo.png") top repeat-x;
    height: 214px;
}

div#wrapper div#cabecalho img#logo {
    position: relative;
    top: 85px;
    left: 68px;
}

div#wrapper div#cabecalho img#foto {
    position: relative;
    top: 28px;
    right: 85px;
    float: right;
}

div#wrapper div#menu {
    background: url("../img/fundo_menu.png") top repeat-x;
    border: 1px solid #90BB22;
    border-left: 0;
    border-right: 0;
    height: 32px;
    margin: 0 auto;
    text-align: center;
}

div#wrapper div#menu ul {
    list-style-type: none;
    margin: 8px auto;
}

div#wrapper div#menu ul li {
    padding: 0px 20px;
    display: inline;
    text-align: center;
    font-weight: bold;
}

div#wrapper div#menu ul li a {
    color: #fff;
}

div#wrapper div#menu ul li.current a {
    color: #000;
}

div#wrapper div#corpo {
    width: 570px;
    min-height: 500px;
    float: left;
}

div#wrapper div#corpo div#titulo {
    padding: 0 10px 10px 0;
    color: #90BB22;
    font-size: 28pt;
    font-weight: bolder;
    border-bottom: 1px dotted #90BB22;
}

div#wrapper div#corpo {
    padding: 20px;
}

div#wrapper div#corpo div#addthis_vertical {
    float: left;
    padding: 0 20px 20px 20px;
    width: 32px;
}

div#wrapper div#corpo div#addthis_vertical1 {
    padding: 20px 20px 0 20px;
}

div#wrapper div#corpo div#addthis_vertical div a, div#wrapper div#corpo div#addthis_vertical1 div a.addthis_button_compact {
    padding: 3px 0;
}

div#wrapper div#corpo div#conteudo ul#carousel li {
    height: 280px;
}

.carousel,
.carousel .carousel-wrap{margin:0;border:0;zoom:1;}
.js .carousel-wrap{display:inline-block;vertical-align:middle;width:500px;margin:0 5px 15px;border:1px solid #4f4f4f;background:#1a1a1a;}
.IE .js .carousel-wrap{display:inline;}
.carousel ul{margin:0;padding:0;zoom:1;}
.js ul li{overflow:hidden;display:inline;float:left;width:500px;height:335px;text-align:center;zoom:1;}
.carousel .carousel-control{overflow:hidden;display:inline-block;vertical-align:middle;width:40px;height:40px;cursor:pointer;line-height:999px;zoom:1;border:0;text-indent:-9999px;}
.carousel .carousel-next{display: none;}
.carousel .carousel-previous{display: none;}
.carousel .carousel-control:hover{-moz-opacity:.7;opacity:0.70;filter:alpha(opacity=70);}
.carousel .disabled,.carousel .disabled:hover{-moz-opacity:.1;opacity:0.10;filter:alpha(opacity=10);cursor:default;}
.carousel div{margin:0;padding:0;border:0;}
.carousel ul{padding:0;list-style:none;}
.carousel ul li{position:relative;width:500px;margin:0;}
.carousel ul li cite{position:absolute;bottom:3px;right:10px;line-height:19px;font-size:11px;}
.carousel ul li cite a img{vertical-align:middle;}
.carousel ul li cite a{color:#fff;text-decoration:none;}

div#wrapper div#corpo div#conteudo div#texto {
    overflow: auto;
}

div#wrapper div#corpo div#conteudo div#audio {
    overflow: auto;
    padding: 25px 48px;
}

div#wrapper div#corpo div#conteudo div#video {
    overflow: auto;
}

div#wrapper div#corpo div#conteudo p {
    text-align: justify;
    margin: 20px 0;
}

div#wrapper div#corpo div#conteudo h1 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 14pt;
}

div#wrapper div#corpo div#conteudo ul#listagem {
    list-style-type: none;
}

div#wrapper div#corpo div#conteudo ul#listagem li {
    padding: 20px 0;
}

div#wrapper div#corpo div#conteudo ul#listagem li div.titulo {
    margin: 5px 0;
    font-weight: bold;
    font-size: 14pt;
}

div#wrapper div#corpo div#conteudo ul#listagem li div.rodape {
    margin: 10px 0;
    font-size: 8pt;
}

div#wrapper div#corpo div#conteudo ul#listagem li div.descricao {
    text-align: justify;
}

div#wrapper div#corpo div#conteudo ul#listagem li div.link {
    float: right;
    padding-left: 20px;
}

div#wrapper div#corpo div#conteudo div.carregando {
    text-align: center;
    display: none;
}

div#wrapper div#lateral {
    float: right;
    width: 250px;
    padding: 20px 20px 20px 0;
}

div#wrapper div#lateral div#buscador {
    color: #90BB22;
    border-bottom: 1px dotted #90BB22;
    padding-bottom: 20px;
    font-size: 10pt;
}

div#wrapper div#lateral div#buscador form input.textbox {
    background: url("../img/fundo_buscador.png") center left no-repeat;
    width: 200px;
    height: 30px;
    border: none;
    float: left;
    font-size: 10pt;
    margin-top: 10px;
    padding: 0 10px;
}

div#wrapper div#lateral div#buscador form input.imagebutton {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
}


div#wrapper div#lateral div#menu_lateral {
    border-bottom: 1px dotted #90BB22;
    padding: 20px 0 20px 20px;
}

div#wrapper div#lateral div#menu_lateral ul {
    list-style-type: none;
    padding-left: 30px;
}

div#wrapper div#lateral div#menu_lateral ul li, 
div#wrapper div#lateral div#menu_lateral div {
    padding: 10px 0;
    font-weight: bold;
    font-size: 12pt;
}

div#wrapper div#lateral div#menu_lateral ul li{
    font-size: 12pt;
}

div#wrapper div#lateral div#menu_lateral ul li a, 
div#wrapper div#lateral div#menu_lateral div a {

}

div#wrapper div#lateral div#menu_lateral ul li.current a, 
div#wrapper div#lateral div#menu_lateral div.current a{
    color: #000;
}

div#wrapper div#lateral div#banner_prata {
    border-bottom: 1px dotted #90BB22;
}

div#wrapper div#lateral div#addthis_horizontal {
    padding: 20px 0 20px 50px;
}

div#wrapper div#rodape {
    background: url("../img/fundo_footer.png") bottom repeat-x;
    /*border-top: 1px solid #90BB22;
    height: 47px;*/
}

div#wrapper div#rodape img#mensagem {
    padding: 70px 0 0 100px;
}

div#wrapper div#rodape img#partido {
    padding: 0 60px 13px 0;
    float: right;
}

#fan {
    text-align: right;
    width: 900px;
    margin: 10px auto;
}

.clear {
    clear: both;
}


/* comentarios */

div#wrapper div#corpo div#conteudo div#comentarios p {
    text-align: justify;
    margin: 20px 0;
}

div#wrapper div#corpo div#conteudo div#comentarios h1 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 14pt;
}

div#wrapper div#corpo div#conteudo div#comentarios ul#listagem {
    list-style-type: none;
}

div#wrapper div#corpo div#conteudo div#comentarios ul#listagem li {
    padding: 20px 0;
}

div#wrapper div#corpo div#conteudo div#comentarios ul#listagem li div.nome {
    margin: 5px 0;
    font-weight: bold;
    font-size: 14pt;
}

div#wrapper div#corpo div#conteudo div#comentarios ul#listagem li div.data {
    margin: 10px 0;
    font-size: 8pt;
}

div#wrapper div#corpo div#conteudo div#comentarios ul#listagem li div.comentario {
    text-align: justify;
}

div#wrapper div#corpo div#conteudo div#comentarios ul#listagem li div.gravatar {
    float: left;
    padding-right: 20px;
}


/* Reply form styling */

div#wrapper div#corpo div#conteudo div#comentarios {
    width: 650px;
    float: left;
}

div#wrapper div#corpo div#conteudo div#comentarios p.title {
    padding: 0 10px 10px 0;
    color: #90BB22;
    font-size: 28pt;
    font-weight: bolder;
    border-bottom: 1px dotted #90BB22;
}


div#wrapper div#corpo div#conteudo form#formulario input[type=submit] {
    display: block;
    border: none;
    background: transparent url(../img/submit.gif) no-repeat;
    cursor: pointer;
    height: 33px;
    width: 107px;
    color: #888;
    font-size: 14px;
}

div#wrapper div#corpo div#conteudo form#formulario label {
    display: block;
    margin: 0 0 5px 0;
    color: #000;
}

div#wrapper div#corpo div#conteudo form#formulario input[type=text] {
    display: block;
    margin: 0 0 15px 0;
    padding: 10px 5px;
    font: 14px/18px "Lucida sans", Tahoma, sans-serif;
    color: #454545;
    width: 240px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #DDDDDD;
}

div#wrapper div#corpo div#conteudo form#formulario textarea {
    display: block;
    width: 510px;
    height: 210px;
    padding: 10px;
    margin: 0 0 20px 0;
    font: 14px/18px "Lucida sans", Tahoma, sans-serif;
    color: #454545;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #DDDDDD;
}

div#wrapper div#corpo div#conteudo form#formulario .valid { 
    background: url(../img/valid.png) 100% 8px no-repeat; 
    position: relative;
    z-index: 10000;
}

div#wrapper div#corpo div#conteudo form#formulario .error { 
    background: url(../img/error.png) 100% 8px no-repeat;
    position: relative;
    z-index: 10000;
}